@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
	overflow-y: scroll;
    width: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/*head end*/

.header-logo {
    position: absolute;
    background-image: url(../img/header-logo.png);
    width: 120px;
    height: 120px;
    background-size: 100%;
    margin-left: 50px;
}

.header-background {
    background-image: url(../img/header-background.png);
    margin-top: -20px;
    width: 100%;
    height: 780px;
    background-size: 100%;
    background-repeat: none;
}

.menu li {
    width: 150px;
    height: 25px;
    text-align: center;
    float: right;
    margin-right: 20px;
    margin-top: 35px;
    line-height: 35px;
    text-align: center;
}

.menu-style {
    list-style-type: none;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

header .header-message {
    padding: 18rem 10em 0 4rem;
    text-align: left;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.header-button {
    background-color: #38f9d7;
    border-radius: 50px;
    width: 200px;
    height: 40px;
    /*text*/
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: white;
}

.barogagi-button > a {
    text-decoration: none;
}

.menu li > a {
    text-decoration: none;
}

.view {
    text-align: center;
    line-height: 40px;
    color: white;
}
/*header end*/

.about-container {
    background-image: url(../img/section-background.png);
    width: 100%;
    height: 400px;
    margin-top: -40px;
}

.about-text {
    padding: 3rem 0em 0 0rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
}

.about-all {
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    text-align: center;
}

/*about end*/

.Recommend-container {
    width: 100%;
    height: 600px;
    background-color: white;
}

.recommend-box {
    width: 300px;
    height: 400px;
    background-color: #F7F7F7;
    margin-top: 2%;
    margin-right: 4.2%;
    border-radius: 50px;
    box-shadow: 0 1px 1.5px rgba(0,0,0,0.06),0 1px 1px rgba(0,0,0,0.12);
    float: right;
}

/* recommend end */

.chatting-container {
    line-height: 17rem;
}

.chatting-box {
    float: right;
    margin-left: 10%;
}

/* chatting end */

.footer-block {
    margin-top: 55%;
    width: 100%;
    height: 300px;
    background-color: #161616;
}